@charset "UTF-8";

	#content1 {
  		float: left;
  		width: 100%;
  	}
  	#RD1 {
  		width: 15%;
  		height: 100%;
  		margin-left: auto;
  		margin-right : auto;
  		text-align: center;
  		border: 0px gray solid;
  	}
  	.ths {
  		border: 0px gray solid;
  		padding : 3px;
  	}